In [1]:
# Script for joining files

# Version 1: May 2020
# Nuno Canha
# Goal: This script checks a folder for a specific type of file (csv, txt, ...) and join them according to the selected collumns
# This example uses the hourly data for the KAN_M weather station (PROMICE) that is available in the following link:
# https://promice.org/PromiceDataPortal/#Automaticweatherstations

In [2]:
# 1. Check which is the folder you are on using "pwd"

In [3]:
pwd

'C:\\Users\\Nuno Canha\\Desktop\\Python\\Library\\Notebooks and scripts_final version\\Notebooks\\Exercises'

In [4]:
#2. If you are not in your working folder, enter in it using the command "cd"

In [5]:
cd C:\Users\Nuno Canha\Desktop\Python\Weather\Analysis\KAN_M\Joining files

C:\Users\Nuno Canha\Desktop\Python\Weather\Analysis\KAN_M\Joining files

In [6]:
# Upload the analysis packages
import pandas as pd
from glob import glob

In [7]:
# Use glob() to list all files that match a pattern (in this case csv type file) and sort results
stock_files = sorted(glob('*.csv'))

In [8]:
# Check the files that were considered:
stock_files

['KAN_M_hour_v03.csv', 'KAN_M_transmitted.csv']

In [9]:
# Use a generator expression to read the files, assign(), to create a new column (name of file to control), and concat() to concat all files

In [10]:
# NOTES: skype rows with non-essential info for data analysis
    # assign() will create a column with the file name of the data source (to random check)
    # skiprows=0 -> will only consider the data on line 1 (starting with columns' name)
    # ignore_index will provide continues index number between files
    # delimiter=";" - this will select the delimiter used in the original dataset (",", ";",...)
    # The collumns in the original datasets that wanted to be kept should be described in the section "usecols".

In [11]:
data = pd.concat((pd.read_csv(file, delimiter=";", skiprows=0, usecols=['Year','MonthOfYear', 'DayOfMonth', 'HourOfDay(UTC)','AirTemperature(C)','RelativeHumidity(%)','WindSpeed(m/s)','WindDirection(d)'], na_values=['-999.0']).assign(filename = file)
          for file in stock_files), ignore_index = True)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.

In [12]:
# Check the data:
data.head()

,Year,MonthOfYear,DayOfMonth,HourOfDay(UTC),AirTemperature(C),RelativeHumidity(%),WindSpeed(m/s),WindDirection(d),filename
0,2008,9,2,0,NaN,NaN,NaN,NaN,KAN_M_hour_v03.csv
1,2008,9,2,1,NaN,NaN,NaN,NaN,KAN_M_hour_v03.csv
2,2008,9,2,2,NaN,NaN,NaN,NaN,KAN_M_hour_v03.csv
3,2008,9,2,3,NaN,NaN,NaN,NaN,KAN_M_hour_v03.csv
4,2008,9,2,4,NaN,NaN,NaN,NaN,KAN_M_hour_v03.csv

In [13]:
data.tail()

,Year,MonthOfYear,DayOfMonth,HourOfDay(UTC),AirTemperature(C),RelativeHumidity(%),WindSpeed(m/s),WindDirection(d),filename
100532,2020,12,10,23,-20.10,67.2,9.47,146.8,KAN_M_transmitted.csv
100533,2020,12,11,23,-22.35,67.5,8.37,152.9,KAN_M_transmitted.csv
100534,2020,12,12,23,-11.79,80.9,8.22,140.5,KAN_M_transmitted.csv
100535,2020,12,13,23,-9.46,87.6,5.38,164.3,KAN_M_transmitted.csv
100536,2020,12,14,23,-17.02,81.9,4.75,22.1,KAN_M_transmitted.csv

In [14]:
# Descriptive statistics
data.describe()

,Year,MonthOfYear,DayOfMonth,HourOfDay(UTC),AirTemperature(C),RelativeHumidity(%),WindSpeed(m/s)
count,100537.000000,100537.000000,100537.000000,100537.000000,93655.000000,93457.000000,93655.000000
mean,2013.899798,6.663059,15.720501,11.505605,-11.680900,84.405293,6.138910
std,3.324908,3.469916,8.794472,6.925187,10.386773,16.535059,3.635346
min,2008.000000,1.000000,1.000000,0.000000,-47.190000,0.300000,0.000000
25%,2011.000000,4.000000,8.000000,6.000000,-19.160000,79.600000,3.580000
50%,2014.000000,7.000000,16.000000,12.000000,-10.340000,87.400000,5.570000
75%,2017.000000,10.000000,23.000000,18.000000,-2.440000,94.600000,7.880000
max,2020.000000,12.000000,31.000000,23.000000,7.410000,100.000000,29.740000

In [15]:
# Writing data to a file with all the date
# define output filename
output_fp = 'input.csv'

# Save dataframe to csv
data.to_csv(output_fp, sep=',', index = False)

# "index = False" will remove the column index